<div class="p-1 px-3 border header d-flex" style="justify-content: space-between;">

    <div  class="h4 text-white">
        Brand logo
    </div>
    <div class="text-white pt-2 h6" style="text-decoration: none;font-size: 0.8rem;">
        <a >Home</a>
        <a routerLink="/search" class="text-dark">Search & build a List</a>
        <a>Saved Search</a>
    </div>
    <div class="bg-white rounded d-flex px-2 mt-1" style="height: fit-content;">
        <i class="bi bi-list-task pt-1 me-2"></i>
        <input class="border-0" style="height: 30px;outline: none;" placeholder="search for companies">
    </div>
    <div>
        <svg class="me-3" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 0.315914C7.975 0.315914 5.5 2.69685 5.5 5.60689C5.5 8.35819 4.07 10.845 1.815 12.6439C0.6875 13.5433 0 14.8132 0 16.1888H22C22 14.8132 21.34 13.5433 20.185 12.6439C17.93 10.845 16.5 8.35819 16.5 5.60689C16.5 2.69685 14.0525 0.315914 11 0.315914ZM8.25 18.8343C8.25 20.2893 9.4875 21.4798 11 21.4798C12.5125 21.4798 13.75 20.2893 13.75 18.8343H8.25Z" fill="white"/>
            </svg>
            <svg class="me-3" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 0.429928C14.025 0.429928 16.5 3.52755 16.5 7.34427C16.5 11.161 14.025 14.2586 11 14.2586C7.975 14.2586 5.5 11.161 5.5 7.34427C5.5 3.52755 7.975 0.429928 11 0.429928ZM16.7475 14.2586C19.6625 14.3969 22 16.8031 22 19.7901V22.5558H0V19.7901C0 16.8031 2.31 14.3969 5.2525 14.2586C6.7375 15.9457 8.7725 17.0243 11 17.0243C13.2275 17.0243 15.2625 15.9457 16.7475 14.2586Z" fill="white"/>
                </svg>
                   
    </div>
</div>
<div class="container">
    <h1 class="text-center h4 mt-5"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h1>

    <h4 class="text-center h6"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h4>
</div>

<div class="bg-white p-2">
    <div class="d-flex">
        <div class="bg-grey w-100 p-4 m-2 rounded" >
            <div  class="p-2 w-25 rounded-pill text-center bg-blueish mx-auto" style="aspect-ratio: 1;" >
                <svg class="mt-3" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.91449V13.2397H12.8121V0.91449H0ZM17.0829 0.91449V5.0229H34.1657V0.91449H17.0829ZM17.0829 9.1313V13.2397H29.895V9.1313H17.0829ZM0 17.3481V29.6733H12.8121V17.3481H0ZM17.0829 17.3481V21.4565H34.1657V17.3481H17.0829ZM17.0829 25.5649V29.6733H29.895V25.5649H17.0829Z" fill="black"/>
                    </svg>
                    
            </div>

            <h4 class="text-center">Title</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          s</h6>

          <div class="text-center">
            <span class="rounded-pill px-3 py-1 bg-blueish">Get Started</span>

          </div>
        </div>
        <div class="bg-grey w-100 p-4 m-2 rounded" >
            <div class="p-2 w-25 rounded-pill text-center bg-blueish mx-auto" style="aspect-ratio: 1;" >
                <svg class="mt-3" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.91449V13.2397H12.8121V0.91449H0ZM17.0829 0.91449V5.0229H34.1657V0.91449H17.0829ZM17.0829 9.1313V13.2397H29.895V9.1313H17.0829ZM0 17.3481V29.6733H12.8121V17.3481H0ZM17.0829 17.3481V21.4565H34.1657V17.3481H17.0829ZM17.0829 25.5649V29.6733H29.895V25.5649H17.0829Z" fill="black"/>
                    </svg>
                    
            </div>

            <h4 class="text-center">Title</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          s</h6>

          <div class="text-center">
            <span class="rounded-pill px-3 py-1 bg-blueish">Get Started</span>

          </div>
        </div>

        <div class="bg-grey w-100 p-4 m-2 rounded" >
            <div class="p-2 w-25 rounded-pill text-center bg-blueish mx-auto" style="aspect-ratio: 1;" >
                <svg class="mt-3" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.91449V13.2397H12.8121V0.91449H0ZM17.0829 0.91449V5.0229H34.1657V0.91449H17.0829ZM17.0829 9.1313V13.2397H29.895V9.1313H17.0829ZM0 17.3481V29.6733H12.8121V17.3481H0ZM17.0829 17.3481V21.4565H34.1657V17.3481H17.0829ZM17.0829 25.5649V29.6733H29.895V25.5649H17.0829Z" fill="black"/>
                    </svg>
                    
            </div>

            <h4 class="text-center">Title</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          s</h6>

          <div class="text-center">
            <span class="rounded-pill px-3 py-1 bg-blueish">Get Started</span>

          </div>
        </div>


    </div>

    <div class="d-flex">
        <div class="bg-grey w-100 p-4 m-2 rounded" >
            <div class="p-2 w-25 rounded-pill text-center bg-blueish mx-auto" style="aspect-ratio: 1;" >
                <svg class="mt-3" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.91449V13.2397H12.8121V0.91449H0ZM17.0829 0.91449V5.0229H34.1657V0.91449H17.0829ZM17.0829 9.1313V13.2397H29.895V9.1313H17.0829ZM0 17.3481V29.6733H12.8121V17.3481H0ZM17.0829 17.3481V21.4565H34.1657V17.3481H17.0829ZM17.0829 25.5649V29.6733H29.895V25.5649H17.0829Z" fill="black"/>
                    </svg>
                    
            </div>

            <h4 class="text-center">Title</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          s</h6>

          <div class="text-center">
            <span class="rounded-pill px-3 py-1 bg-blueish">Get Started</span>

          </div>
        </div>
        <div class="bg-grey w-100 p-4 m-2 rounded" >
            <div class="p-2 w-25 rounded-pill text-center bg-blueish mx-auto" style="aspect-ratio: 1;" >
                <svg class="mt-3" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.91449V13.2397H12.8121V0.91449H0ZM17.0829 0.91449V5.0229H34.1657V0.91449H17.0829ZM17.0829 9.1313V13.2397H29.895V9.1313H17.0829ZM0 17.3481V29.6733H12.8121V17.3481H0ZM17.0829 17.3481V21.4565H34.1657V17.3481H17.0829ZM17.0829 25.5649V29.6733H29.895V25.5649H17.0829Z" fill="black"/>
                    </svg>
                    
            </div>

            <h4 class="text-center">Title</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          s</h6>

          <div class="text-center">
            <span class="rounded-pill px-3 py-1 bg-blueish">Get Started</span>

          </div>
        </div>

        <div class="bg-grey w-100 p-4 m-2 rounded" >
            <div class="p-2 w-25 rounded-pill text-center bg-blueish mx-auto" style="aspect-ratio: 1;" >
                <svg class="mt-3" width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.91449V13.2397H12.8121V0.91449H0ZM17.0829 0.91449V5.0229H34.1657V0.91449H17.0829ZM17.0829 9.1313V13.2397H29.895V9.1313H17.0829ZM0 17.3481V29.6733H12.8121V17.3481H0ZM17.0829 17.3481V21.4565H34.1657V17.3481H17.0829ZM17.0829 25.5649V29.6733H29.895V25.5649H17.0829Z" fill="black"/>
                    </svg>
                    
            </div>

            <h4 class="text-center">Title</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          s</h6>

          <div class="text-center">
            <span class="rounded-pill px-3 py-1 bg-blueish">Get Started</span>

          </div>
        </div>


    </div>
</div>
